body{
    background: #f5f3fc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.zonaLogo{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logoPrincipal{
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-padron{
    position: absolute;
    width: 577px;
    height: 48px;
    max-height: 300px;
    left: 240px;
    top: 168px;
    resize:none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: #f3f5fc;
    border: none;
    outline: 0;
}

.input-padron::placeholder{
    color: #0A3871;
}

.zonaIndicaciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 300px;
    height: 18px;
    left: 240px;
    top: 480px;
}

.indicaciones{
    color: #868E96;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.zonaBotones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 500px;
}

.botonAzul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 1;

    cursor: pointer;
    border: 0.5px;
    border-style: solid;
    border-color: #000000;
    justify-content: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.192);
    
}

.botonAzul:hover{
    background: #052051;
    transition: 0.3s;
}

.botonAzul:active{
    background: #609ED4;
}

.botonGris{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #CED4DA;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #000000;
    
    flex: none;
    order: 0;
    flex-grow: 1;

    cursor: pointer;
    border: 0.5px;
    border-style: solid;
    border-color: #000000;
    justify-content: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.192);
    
}

.botonGris:hover{
    background: #ADB5BD;
    transition: 0.3s;
}

.botonGris:active{
    background: #868E96;
    color: #FFFFFF;
}

.rectangulo{
    position: absolute;
    width: 330px;
    height: 530px;
    left: 1000px;
    top: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#imagenRectangulo{
    position: absolute;
    width: 268px;
    height: 243px;
    left: 10%;
    top: 10%;
}

.zonaTextorectangulo{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 250px;
    height: 122px;
    left: 15%;
    top: 60%;
}

.tituloPrincipal{
    /* Ningún mensaje fue encontrado */
    width: 250px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.tituloSecundario{
    /* Ingresa el texto que desees encriptar o desencriptar. */


    width: 250px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.botonGriscopiar{
    position: absolute;
    top: 85%;
    left: 5%;

    width: 300px;
    height: 50px;

    background: #CED4DA;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #000000;

    cursor: pointer;
    border: 0.5px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.192);
}

.botonGriscopiar:hover{
    background: #ADB5BD;
    transition: 0.3s;
}

.botonGriscopiar:active{
    background: #868E96;
    color: #FFFFFF;
}

.autor{
    text-align: center;
    margin-top: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: #aab2d5;
    height: auto;
    width: auto;
}

#hide{
    
    width: 270px;
    height: 350px;
    max-height: 350px;
    position: absolute;
    top: 10%;
    left: 10%;
    word-break: break-all;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* Gray/gray-400 */

    color: #495057;
    display: none;
}